#swing-16 {
    background-color: #999900;
}


/* List of the states with appropriate ratings 
    Safe D: #1A35CE
    Likely D: #4F5ED6
    Lean D: #8487DE
    Barely D: #B9B0E6
    Barely R: #EAC4D4
    Lean R: #E6B0B9
    Likely R: #DA736A
    Safe R: #CE351A
    Independent: #008800
*/

.pixel.state.al {
    background-color: #E6B0B9;
}

.pixel.state.ak {
    background-color: #EAC4D4;
}

.pixel.state.az {
    background-color: #8487DE;
}

.pixel.state.ar {
    background-color: #EAC4D4;
}

.pixel.state.ca {
    background-color: #8487DE;
}

.pixel.state.co {
    background-color: #EAC4D4;
}

.pixel.state.ct {
    background-color: #EAC4D4;
}

.pixel.state.de {
    background-color: #E6B0B9;
}

.pixel.state.fl {
    background-color: #EAC4D4;
}

.pixel.state.ga {
    background-color: #B9B0E6;
}

.pixel.state.hi {
    background-color: #DA736A;
}

.pixel.state.id {
    background-color: #B9B0E6;
}

.pixel.state.il {
    background-color: #B9B0E6;
}

.pixel.state.in {
    background-color: #E6B0B9;
}

.pixel.state.ia {
    background-color: #CE351A;
}

.pixel.state.ks {
    background-color: #B9B0E6;
}

.pixel.state.ky {
    background-color: #E6B0B9;
}

.pixel.state.la {
    background-color: #EAC4D4;
}

.pixel.state.me {
    background-color: #DA736A;
}

.pixel.state.md {
    background-color: #B9B0E6;
}

.pixel.state.ma {
    background-color: #B9B0E6;
}

.pixel.state.mi {
    background-color: #E6B0B9;
}

.pixel.state.mn {
    background-color: #E6B0B9;
}

.pixel.state.ms {
    background-color: #E6B0B9;
}

.pixel.state.mo {
    background-color: #E6B0B9;
}

.pixel.state.mt {
    background-color: #E6B0B9;
}

.pixel.state.ne {
    background-color: #EAC4D4;
}

.pixel.state.nv {
    background-color: #EAC4D4;
}

.pixel.state.nh {
    background-color: #E6B0B9;
}

.pixel.state.nj {
    background-color: #EAC4D4;
}

.pixel.state.nm {
    background-color: #EAC4D4;
}

.pixel.state.ny {
    background-color: #E6B0B9;
}

.pixel.state.nc {
    background-color: #EAC4D4;
}

.pixel.state.nd {
    background-color: #CE351A;
}

.pixel.state.oh {
    background-color: #DA736A;
}

.pixel.state.ok {
    background-color: #EAC4D4;
}

.pixel.state.or {
    background-color: #EAC4D4;
}

.pixel.state.pa {
    background-color: #E6B0B9;
}

.pixel.state.ri {
    background-color: #DA736A;
}

.pixel.state.sc {
    background-color: #EAC4D4;
}

.pixel.state.sd {
    background-color: #DA736A;
}

.pixel.state.tn {
    background-color: #E6B0B9;
}

.pixel.state.tx {
    background-color: #8487DE;
}

.pixel.state.ut {
    background-color: #1A35CE;
}

.pixel.state.vt {
    background-color: #E6B0B9;
}

.pixel.state.va {
    background-color: #B9B0E6;
}

.pixel.state.wa {
    background-color: #B9B0E6;
}

.pixel.state.wv {
    background-color: #CE351A;
}

.pixel.state.wi {
    background-color: #E6B0B9;
}

.pixel.state.wy {
    background-color: #E6B0B9;
}
