.label {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
}

#al-label {
	top: 405px;
	left: 625px;
}

#ak-label {
	top: 116px;
	left: 145px;
	font-size: 14px;
}

#az-label {
	top: 370px;
	left: 282px;
}

#ar-label {
	top: 360px;
	left: 517px;
}

#ca-label {
	top: 325px;
	left: 170px;
}

#co-label {
	top: 293px;
	left: 337px;
}

#ct-label {
	top: 172px;
	left: 965px;
}

#de-label {
	top: 277px;
	left: 874px;
	font-size: 14px;
}

#dc-label {
	top: 300px;
	left: 782px;
	font-size: 14px;
}

#fl-label {
	top: 470px;
	left: 782px;
}

#ga-label {
	top: 405px;
	left: 727px;
}

#hi-label {
	top: 503px;
	left: 263px;
}

#id-label {
	top: 208px;
	left: 316px;
}

#il-label {
	top: 227px;
	left: 526px;
}

#in-label {
	top: 219px;
	left: 605px;
}

#ia-label {
	top: 227px;
	left: 447px;
}

#ks-label {
	top: 305px;
	left: 421px;
}

#ky-label {
	top: 305px;
	left: 620px;
}

#la-label {
	top: 427px;
	left: 508px;
}

#me-label {
	top: 40px;
	left: 1020px;
}

#md-label {
	top: 262px;
	left: 802px;
}

#ma-label {
	top: 130px;
	left: 990px;
}

#mi-label {
	top: 130px;
	left: 685px;
}

#mn-label {
	top: 140px;
	left: 478px;
}

#ms-label {
	top: 405px;
	left: 568px;
}

#mo-label {
	top: 305px;
	left: 502px;
}

#mt-label {
	top: 190px;
	left: 380px;
	font-size: 14px;
}

#ne-label {
	top: 274px;
	left: 403px;
}

#nv-label {
	top: 261px;
	left: 241px;
}

#nh-label {
	top: 92px;
	left: 987px;
}

#nj-label {
	top: 237px;
	left: 942px;
}

#nm-label {
	top: 401px;
	left: 335px;
}

#ny-label {
	top: 118px;
	left: 855px;
}

#nc-label {
	top: 371px;
	left: 822px;
}

#nd-label {
	top: 212px;
	left: 392px;
	font-size: 14px;
}

#oh-label {
	top: 227px;
	left: 678px;
}

#ok-label {
	top: 360px;
	left: 465px;
}

#or-label {
	top: 206px;
	left: 194px;
}

#pa-label {
	top: 207px;
	left: 821px;
}

#ri-label {
	top: 172px;
	left: 1037px;
}

#sc-label {
	top: 427px;
	left: 860px;
}

#sd-label {
	top: 242px;
	left: 393px;
	font-size: 14px;
}

#tn-label {
	top: 350px;
	left: 610px;
}

#tx-label {
	top: 427px;
	left: 403px;
}

#ut-label {
	top: 305px;
	left: 280px;
}

#vt-label {
	top: 80px;
	left: 965px;
	font-size: 14px;
}

#va-label {
	top: 326px;
	left: 812px;
}

#wa-label {
	top: 173px;
	left: 209px;
}

#wv-label {
	top: 297px;
	left: 685px;
}

#wi-label {
	top: 140px;
	left: 556px;
}

#wy-label {
	top: 238px;
	left: 338px;
	font-size: 14px;
}

